---
const {
  overskrift = "Default Overskrift",
  desc = "Default Desc",
  stroke = "#FD9215",
  stroke2 = "none",
  color = "black",
} = Astro.props;
---

<div class="overskrift">
  <svg
    width="151"
    height="162"
    viewBox="0 0 151 162"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="moon"
  >
    <path
      d="M98.4645 8C93.8166 8 89.1687 8 84.5208 8C77.7272 8 74.294 10.5888 68.4406 13.0602C51.4638 20.2282 36.914 31.3259 25.1475 45.4456C9.7548 63.9169 1.80078 85.9456 9.40463 109.204C12.5449 118.81 16.8905 124.497 22.5612 132.257C25.5471 136.342 29.8417 138.27 33.4688 141.815C36.8028 145.073 40.8182 148.065 45.276 149.686C54.6715 153.103 64.3811 153.734 74.4004 153.734C91.3166 153.734 106.734 145.515 119.661 135.012C128.937 127.475 133.513 116.364 139.396 105.775C140.728 103.378 146.479 96.6547 141.476 100.546C136.084 104.74 126.292 107.286 119.942 109.429C111.233 112.369 101.814 113.277 93.4043 116.851C90.7483 117.98 86.1985 118.313 83.2839 118.313C71.1673 118.313 65.3175 116.539 56.5209 107.743C54.2482 105.47 54.9466 102.33 54.9466 99.3089C54.9466 87.0706 53.3907 73.7589 56.5209 61.807C59.0559 52.1282 65.9907 44.0924 73.9506 38.3613C80.2061 33.8573 86.4794 29.5403 92.8983 25.261C98.1923 21.7317 104.634 21.4291 109.597 18.1204"
      stroke={stroke}
      stroke-width="15.5037"
      stroke-linecap="round"
      stroke-dasharray="31.01 20.01 93.02 10.03"></path>
  </svg>
  <svg
    width="22"
    height="21"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="heart"
  >
    <path
      d="M10.9039 6.00349C11.5233 5.15023 11.9467 4.08837 12.6649 3.32995C12.92 3.0605 13.0697 2.95752 13.4172 2.94249C14.0258 2.91616 14.6063 2.75037 15.2189 2.75849C15.8001 2.76618 16.3335 2.88876 16.8425 3.23735C17.9182 3.97408 18.7588 5.86298 18.8831 7.28381C18.9424 7.96199 18.8298 8.59584 18.7605 9.26178C18.6777 10.058 18.2703 10.403 18.0103 11.0715C17.5456 12.2663 16.7132 13.1724 16.0428 14.1893C15.618 14.8337 15.0862 15.3605 14.6531 16.0072C14.1648 16.7364 13.4819 17.2517 13.0083 18.0042C12.608 18.6403 12.0744 19.2165 11.5725 19.7465"
      stroke={stroke2}
      stroke-width="2"
      stroke-linecap="round"></path>
    <path
      d="M10.3349 6.19728C9.58898 5.50484 9.00156 4.56203 8.17411 3.98568C7.88013 3.78091 7.71664 3.71482 7.3733 3.78116C6.7721 3.89734 6.17583 3.87016 5.57623 4.02106C5.00739 4.16422 4.50403 4.40892 4.06127 4.86962C3.12552 5.84328 2.60723 7.89224 2.71563 9.31495C2.76738 9.99403 2.98063 10.5895 3.15654 11.2265C3.36687 11.9882 3.82236 12.2316 4.18582 12.8267C4.83538 13.8902 5.79872 14.5848 6.62117 15.4258C7.1424 15.9588 7.74939 16.3515 8.27907 16.8848C8.87624 17.4861 9.6297 17.8322 10.2162 18.4598C10.712 18.9903 11.3289 19.4311 11.9071 19.8338"
      stroke={stroke2}
      stroke-width="2"
      stroke-linecap="round"></path>
  </svg>

  <h2 style={`--heading-color: ${color};`}>{overskrift}</h2>
  <p>{desc}</p>
</div>

<style>
  .overskrift {
    position: relative;

    > .moon {
      position: absolute;
      z-index: -1;
      scale: 0.4;
      top: -30%;
      left: 60%;
    }
    > .heart {
      position: absolute;
      z-index: -1;
      scale: 4;
      top: -30%;
      left: 80%;
    }
    > h2 {
      color: var(--heading-color) !important;

      font-size: 4.5em;
      line-height: 1;
      font-weight: bolder;
      margin: 0;
      -webkit-text-stroke: 2px var(--heading-color) !important ; /* Adds a thin black outline */
      color: black; /* Adjust for readability */
    }

    > p {
      font-weight: lighter;
      font-size: 1.2em;
      margin: 0;
      margin-top: var(--text-spacing);
    }
  }
</style>
